body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.glass-effect, form, #chat, #messages, #message_form, #message_input {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.animation, form, #chat, #mesagges, #message_form, #message_input, h1, h2, h3, .screenshots{
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

h1 {
    text-align:justify;
    color: #333;
}



form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input {
    margin-top: 5px;
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#chat {
    width: 62%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

#messages {
    width: 60%;
    height: 300px;
    overflow-y: scroll;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#message-form {
    display: flex;
    width: 58%;
    justify-content: space-around;
    gap: 10px;
    align-items: center;  /* Align items in the center */
}

#message-input {
    width: 60%;
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
}

#submit, #logout-btn {
    margin-right: 10px;
}

#logout-btn {
    background-color: red;
    color: white;
}


a.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #0056b3;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

h2, h3 {
    color: #666;
    opacity: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li::before {
    content: "✔️";
    margin-right: 10px;
    color: #007BFF;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.screenshots {
    margin-top: 40px;
    text-align: center;
    opacity: 0;
}

.screenshot-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.screenshot {
    flex: 1;
    min-width: 280px;
    max-width: 300px;
    text-align: center;
}

.screenshot img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.screenshot p {
    margin-top: 10px;
    color: #666;
}

@media (max-width: 768px) {
    .screenshot-container {
        flex-direction: column;
        align-items: center;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.message {
    margin: 8px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 80%;
}

.message strong {
    color: #007BFF;
}

.message:after {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgba(255, 255, 255, 0.8);
}

.message.mine {
    align-self: flex-end;
    background-color: rgba(0, 123, 255, 0.8);
}

.message.mine:after {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(0, 123, 255, 0.8);
}
