<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Project M</title>
</head>
<body>
    <div class="container">
        <div class="intro">
            <h1>Project M</h1>
            <h2>Это прототип, а не готовый продукт!</h2>
            <p>Этот чат создан с целями демонстрации базовой веб-разработки и коммуникации в реальном времени.</p>
            <h3>Особенности:</h3>
            <ul>
                <li>Чат в реальном времени</li>
                <li>Аутентификация пользователей (регистрация и авторизация)</li>
                <li>Приятный дизайн</li>
            </ul>
            <div class="buttons">
                <a href="{{ url_for('login') }}" class="button">Авторизоваться</a>
                <a href="{{ url_for('register') }}" class="button">Зарегистрироваться</a>
            </div>
        </div>
        <div class="screenshots">
            <h2>Демонстрация приложения</h2>
            <div class="screenshot-container">
                <div class="screenshot">
                    <img src="{{ url_for('static', filename='css/images/login_image.png') }}" alt="Login Screen">
                    <p>Авторизация</p>
                </div>
                <div class="screenshot">
                    <img src="{{ url_for('static', filename='css/images/reg_image.png') }}" alt="Register Screen">
                    <p>Регистрация</p>
                </div>
                <div class="screenshot">
                    <img src="{{ url_for('static', filename='css/images/chat_image.png') }}" alt="Chat Screen">
                    <p>Чат</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
