<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="buttons">
        <h1>Welcome to the Chat App</h1>
        <h2>This is only a prototype, please do not judge too much!</h2>
        <h3>We welcome your feedback!!!</h3>
        <a href="{{ url_for('login') }}" class="button">Login</a>
        <a href="{{ url_for('register') }}" class="button">Register</a>
    </div>
</body>
</html>