<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Регистрация - Project M</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form method="POST">
        <label for="username">Имя пользователя</label>
        <input type="text" id="username" name="username" required placeholder="Логин...">
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" required placeholder="Пароль">
        <label for="confirm_password">Подтверждение пароля</label>
        <input type="password" id="confirm_password" name="confirm_password" required placeholder="Вы уверены?">
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>
